//FONT
$font-primary: 'Montserrat', sans-serif;
$font-heading: 'Playfair Display SC', sans-serif;

//COLOR VARIBLES
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #f7f7f7;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-white: #fff;
$color-black: #000;

$color-primary: #302D34;
$color-primary-dark: #1A191A;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 67.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5rem; //600px
